<!--jQuery which initialises the calender The calender is a JavaScript library referenced in the index page fullcalendar.min.js and gcal.js-->
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({   
            googleCalendarApiKey: 'AIzaSyDs8ldPAzJ8XwHlCoIiITVvb-J3dIZKmUY',
            events: {
                googleCalendarId: 'arnold-j83@sky.com'
            },
            eventClick: function(event) {
                // opens events in a popup window
                window.open(event.url, 'gcalevent', 'width=500,height=300');
                return false;
            },
            
            loading: function(bool) {
                $('#loading').toggle(bool);
            }
            
        });
       
    });
</script>
<div class="jumbotron hero7">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">Availability and Booking</h2>
</div>
<div class="container">
	<div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2>Enquire about Availability</h2>
                <p>Apartment Brisas is available throughout the year, the calender below will show you when apartment brisas is available / booked.</p>
                <!--<iframe src="https://calendar.google.com/calendar/embed?src=arnold-j83%40sky.com&ctz=Europe/London" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>-->
                <div class="container">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#enquiry-modal">Make an Enquiery</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="enquiry-modal" tabindex="-1" role="dialog" aria-labelledby="enquiry-form-modal" aria-hidden="true">
<!-- Bootstrap modal popup which includes the angular form-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="todo-form-header">Enquiry Form</h2>
                </div>
                <div class="modal-body">
                <form class="viewType" name="register_form" novalidate ng-submit="registerForm(register_form)">
                    <fieldset>
                    <div class="row">
                    <div class="col-md-4">
                        <label>Your Title</label>
                    </div>
                    <div class="col-md-8">
                        <select ng-model="register.selectedTitle" name="selectedTitle" class="form-control">
                            <option  ng-repeat="title in titles" >{{title}}</option>
                            <!--titles added to &$scope in the controller-->
                        </select>
                    </div>
                    </div>
                    <br />
                    <div class="row">
                    <div class="col-md-4">
                        <label>Your Full Name</label>
                    </div>
                    <div class="col-md-8">
                        
                        <input class="form-control"
                        type="text" 
                        placeholder="Enter Your Name" 
                        name="fullname" 
                        ng-model="register.fullname" 
                        ng-minlength=3 
                        ng-maxlength=50 
                        required  />
                    </div>
                    <!--Angular form validation different warnings shows depending on the error $dirty means the control has been interacted with $invalid means that the information entered does not meet the requirements for the control-->
                    <div class="col-md-12 error-container" ng-show="register_form.fullname.$dirty 
                                                        && register_form.fullname.$invalid 
                                                        && submitted">
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.fullname.$error.required">Please input your name</p>
                    <p class="error" ng-show="register_form.fullname.$error.minlength">Your name is required to be at least 3 characters</p>
                    <p class="error" ng-show="register_form.fullname.$error.maxlength">Your name cannot be longer than 50 characters</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Your Email Address</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="email" 
                        placeholder="Enter email address" 
                        name="email" 
                        ng-model="register.email" 
                        ng-minlength=5 
                        ng-maxlength=40 
                        required  />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 error-container" ng-show="register_form.email.$dirty 
                                                        && register_form.email.$invalid 
                                                        && submitted">
                    <!--add error messages for email-->
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.email.$error.required">Please input an email</p>
                    <p class="error" ng-show="register_form.email.$error.minlength">Your email is required to be at least 5 characters</p>
                    <p class="error" ng-show="register_form.email.$error.maxlength">Your email cannot be longer than 40 characters</p>
                    <p class="error" ng-show="register_form.email.$error.email">That is not a valid email. Please input a valid email.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                    <label>Your Telephone Number</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="number" 
                        placeholder="Enter your telephone number" 
                        name="telNumber" 
                        ng-model="register.telNumber" 
                        ng-minlength=10 
                        ng-maxlength=15 
                        required  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 error-container" ng-show="register_form.telNumber.$dirty 
                                                        && register_form.telNumber.$invalid 
                                                        && submitted">
                    <!--add error messages for email-->
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.telNumber.$error.required">Please input your phone number</p>
                    <p class="error" ng-show="register_form.telNumber.$error.minlength">Telepone Numberis required to be at least 10 characters</p>
                    <p class="error" ng-show="register_form.telNumber.$error.maxlength">Telepone Number cannot be longer than 15 characters</p>
                    <p class="error" ng-show="register_form.telNumber.$error.number">That is not a number. Please input a valid telephone number.</p>
                    
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Date from:</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="date"
                        name="dateFrom" 
                        placeholder="YYYY-MM-DD" 
                        value="2016-10-01"
                        ng-model="register.dateFrom" 
                        required  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 error-container" ng-show="register_form.dateFrom.$dirty 
                                                        && register_form.dateFrom.$invalid 
                                                        && submitted">
                    <!--add error messages for email-->
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.dateFrom.$error.required">Please indicate date from</p>
                    <p class="error" ng-show="register_form.dateFrom.$error.date">Please enter a valid date</p>
                    
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Date to:</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="date" 
                        placeholder="YYYY-MM-DD" 
                        value="2016-10-01"
                        name="dateTo" 
                        ng-model="register.dateTo" 
                        required  />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 error-container" ng-show="register_form.dateTo.$dirty 
                                                        && register_form.dateTo.$invalid 
                                                        && submitted">
                    <!--add error messages for email-->
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.dateTo.$error.required">Please indicate date to</p>
                    <p class="error" ng-show="register_form.dateTo.$error.date">Please enter a valid date</p>
                    
                    
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Number of Adults</label>
                    </div>
                    <div class="col-md-8">
                        <select ng-model="register.selectedAdults" name="selectedAdults" class="form-control" required>
                            <option  ng-repeat="adult in adults" >{{adult}}</option>
                        </select>
                    </div>
                    </div>

                <div class="row">
                    <div class="col-md-12 error-container" ng-show="register_form.selectedAdults.$dirty 
                                                        && register_form.selectedAdults.$invalid 
                                                        && submitted">
                    <!--add error messages for email-->
                    <label style='color: red'>Error:</label>
                    <p class="error" ng-show="register_form.selectedAdults.$error.required">Please indicate number of Adults</p>
                    
                    
                    </div>
                </div>

                    <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Number of Children</label>
                    </div>
                    <div class="col-md-8">
                        <select ng-model="register.selectedChildren" name="selectedChildren" class="form-control" required>
                            <option  ng-repeat="child in children" >{{child}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 error-container" ng-show="register_form.selectedChildren.$dirty 
                                                            && register_form.selectedChildren.$invalid 
                                                            && submitted">
                        <!--add error messages for email-->
                        <label style='color: red'>Error:</label>
                        <p class="error" ng-show="register_form.selectedChildren.$error.required">Please indicate number of Children</p>
                        
                        
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit Enquiry</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                    <div class="row">
                    <br />
                    <!--This section displays the information entered into the form-->
                        <div class="col-md-12" id="form_data">
                        <p>Your Name: {{register.selectedTitle}} {{register.fullname}}</p>
                        <p>Your Email Address: {{register.email}}</p>
                        <p>Your Telephone Number: {{register.telNumber}}</p>
                        <p>Date From: {{register.dateFrom}}</p>
                        <p>Date To: {{register.dateTo}}</p>
                        <p>Number of Adults: {{register.selectedAdults}}</p>
                        <p>Number of Children: {{register.selectedChildren}}</p>
                        </div>
                    </div> 
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="text-center">Terms and conditions</h2>
                <ul>
                    <li>We require a full list of names of the clients renting</li>
                    <li>We require flight details for smooth change over</li>
                    <li>We always recommend insurance</li>
                    <li>A none-refundable deposit of £50 to secure any bookings</li>
                    <li>REFUNDABLE £50 security deposit required with final balance payment (separate cheque, sent back after holiday)</li>
                    <li>Remaining balance to be paid in full 4 weeks prior to arrival</li>
                    <li>40 Euros cleaning cost per booking up to 2 weeks</li>
                    <li>60 Euros cleaning cost per booking 3 weeks or more</li>
                    <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm.</li>
                    <li>If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                    <li>On the day of departure, vacate the apartment by 10am.</li>
                </ul>
                <h2 class="text-center">Long Lets</h2>
                <ul>
                    <li>We require a full list of names of the clients letting</li>
                    <li>We require flight details for smooth change over</li>
                    <li>We alway recommend insurance</li>
                    <li>For longer 'Lets' a larger deposit is required and RETURNED after your stay</li>
                    <li>Balance to be paid in full straight away</li>
                    <li>Cleaning costs per booking 60 Euros, to be left on the table for cleaner</li>
                    <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm. <br />If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                    <li>On the day of departure, vacate the apartment by 10am.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    
 
    <div class="modal fade" id="todo-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="todo-form-header">Todo Item</h4>
                </div>
                <div class="modal-body">
                    <form name="todoForm" ng-submit="submitForm()" novalidate>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" ng-model="todo.title" required>
                            <p ng-show="todoForm.title.$pristine" class="help-block">A title is required</p>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" name="description" class="form-control" ng-model="todo.description" required>
                            <p ng-show="todoForm.password.$pristine" class="help-block">A description is required</p>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="todo.status">
                                <option value="Todo">Todo</option>
                                <option value="Doing">Doing</option>
                                <option value="Done">Done</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>