<div class="jumbotron hero1">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">Luxury Holiday Apartment Rental</h2>
 <h2 class="heroh2">Costa Blanca - Spain</h2>
</div>

<section>
	<div  class="jumbotron hero2">
		<div class="container"><h2>Apartment Brisas is a luxury second floor apartment which can sleep up to six adults. Situated in a traditional little village of Formentera near Rojales, just 30-40 minutes from Alicanté airport.</h2>
		<a href="#/availability" class="btn btn-primary">Check Availability</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-6" style="text-align: center">
				<a href="https://www.tripadvisor.co.uk/VacationRentalReview-g1078806-d2118584-Apartment_Brisas-Formentera_Del_Segura_Costa_Blanca_Province_of_Alicante_Valencian_Co.html" title="See reviews on Trip Advisor"><img src="img/tripadvisor.jpg" alt="Trip Advisor" /></a><br />
				<caption>See Reviews on Trip Advisor</caption>

			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6"  style="text-align: center">
				<h2>About Us</h2>
				<p>Rent our privately owned apartment from as little as £120 per week. Ideal for families or groups. Exclusive use for the residents of the apartments, is the communal swimmng pool and solarium. Apartment Brisas is approx 30 minutes from Alicanté airport and minutes from the beautiful local seaside town of Guardamar Del Segura.</p>
				
			</div>
		</div>
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    
                    <p>Apartment Brisas is a luxury second floor apartment which can sleep up to six adults. Situated in a traditional little village of Formentera near Rojales, just 30-40 minutes from Alicanté airport. The apartment has one double bedroom with en-suite and balcony and one twin bedded room. There is also a family bathroom. The tiled living room is stylish and has a bed settee which can sleep another two adults. It has double doors leading onto a balcony overlooking view of the surrounding mountains.</p>

                    <p>If you get bored with the views (!) the apartment is equipped 32" TV, iPod Docking station for your music and a DVD player with a selection of classic movies. Exclusive use for residents of the Brisas-del-Mar II apartments is a communal swimming pool and solarium situated on the roof, giving you 360º views of mountains and surrounding area, without being overlooked and is quiet and relaxing.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                    <a href="#/prices#2people" title="120pw 2 people"><img src="http://arnold-j.net16.net/apartment-brisas/img/price1.png" alt="120pw" title="120pw 2 people" width="238" height="141" /></a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                    <a href="#/prices#4people" title="125pw 4 people"><img src="http://arnold-j.net16.net/apartment-brisas/img/price2.png" alt="125pw" title="125pw 4 people" width="238" height="141" /></a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: center">
                    <a href="#/prices#6people" title="130pw 4 people"><img src="http://arnold-j.net16.net/apartment-brisas/img/price3.png" alt="130pw" title="130pw 6 people" width="239" height="141" /></a>
                </div>
                <p>*Price does not include the <strong>40-60 Euros</strong> (depending on length of stay) cleaning/change over fee.</p>
            </div>
        </div>
	</div>
</section>