<div class="jumbotron hero3">
<h1 class="heroh1">{{title}}</h1>
<h2 class="heroh2">Costa Blanca region</h2>
</div>

<div class="container">
        <div class="row">
            <div class="box">
            
                <div class="col-lg-12">
                    
                    <p>The Costa Blanca has over 100 km's of sandy beaches and rocky coves and many of the beaches have the coveted European Blue Flag signifying cleanliness and safe bathing.</p>

                    <p>The beautiful region has mountains stretching along most of the coast. The A7 motorway (with some toll sections) stretches from north to south along the coast. The N-332 also runs parallel yet is free from charges although much slower as it passes through the middle of many towns.</p>

                    <p>The Costa Blanca has the best all year round temperatures. The climate is recognised as one of the best in the world by the World Health Organisation. Many people with arthritis come to the Costa Blanca and within days feel much better. In the winter months the Costa Blanca is lucky enough to have nearly as many sunny days as in the summertime.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-6">
                    <img src="img/weather_graph_2014.png" alt="Weather Graph" title="Weather Graph" />
                </div>

                <div class="col-lg-6">
                    <img src="img/spanish_beach.jpg" alt="spanish_beach" title="spanish_beach" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Valencia region</h2>
                    <hr>
                    <p>In the middle of the Spanish Mediterranean coastline lies Valencia, a beautiful city backed by mountains and plains. The serene landscape provides the perfect backdrop for walking from which to admire the views. Trek through the mountains or simply just relax and enjoy the many great beaches or chill by the pool. The city itself is said to have some of the most beautiful architecture in Europe, from the historic to avant-garde. Valencia is also famed for its art galleries and fabulous local cuisine, such as mouth watering, juicy Valencia oranges and traditional Spanish paella, which originated from this very city. The Valencia region is an explosion of colour, flavour and culture, yet also a peaceful haven and our holiday offers all this and more.</p>

                    <p>Alicante, Valencia and Castellón form the three provinces of the Region of Valencia, a widely diverse landscape with more than 450 kilometres of coastline along the Mediterranean, bordered by Cataluña to the north and Murcia to the south. With a total area of some 20,0000 square kilometres, yet only 120 kilometres at its widest point, the area has both high mountains and plains, wetlands and beaches, a temperate climate yet with semiarid desert environments and lush forests in the interior. In the north the high rocky outcrops of ancient limestone in the mountainous El Maestrazgo region are fiercely cold in winter and have a benign summer climate. In total contrast the rolling hills of Xátiva in central Valencia province and its fertile agricultural lands have some of the hottest summer temperatures of the entire Region making it popular with sun worshippers.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact David Midgley +44 7903 088101</h2>
                    <hr>

                    <h2 class="intro-text text-center">Apartment Location</h2>

                    <p>Formentera del Segura is a small village close to Benijofar and Rojales in the Vega Baja (low fertile valley) region of the southern Costa Blanca, Spain, in the Alicante province. Formentera del Segura sits on the banks of the River Segura and the river has been very important in the survival of the village. Aproximately 30 minuites south from Alicanté airport.</p>
                </div>
                <div class="col-lg-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d401958.80439966504!2d-1.0255406964560196!3d38.0866067019294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63af6671d17b01%3A0x25b55a856cc7d63e!2s03179+Formentera+del+Segura%2C+Alicante%2C+Spain!5e0!3m2!1sen!2suk!4v1471005802001" width="600" height="450" style="border:0" allowfullscreen></iframe>

                </div>
                <div class="col-lg-4">
                    <p>Phone:
                        <strong>+44 7903 088101</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:david@apartmentbrisas.co.uk">david@apartmentbrisas.co.uk</a></strong>
                    </p>
                    <p>Address:
                        <strong>Apartment Brisas
                            <br>Cospa Blanca, Spain</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Formentera del Segura area</h2>
                    <hr>
                    <p>Formentera del Segura has its share of fiestas and celebrations, however there is one unique to Formentera - "The Day of the Bicycle", in which many of the villagers take part in a race to celebrate the past and present "brotherhood of the people of the village". The Day of the Bicycle takes place in May. In Formentera del Segura May is known as "The Month of Flowers" and there are many celebrations including a grand procession in honour of the Virgin of the Immaculate Conception. A major celebration takes place in August (the last week of the month), to pay tribute to the patron saints of the village San Miguel (Saint Michael) and San Roque, culminating in "The Day of the Sardine and Wine".</p>

                    <p>Formentera del Segura has a good selection of bars, restaurants and shops and a pleasant village square (plaza) where the Town Hall (Ayuntamiento) can be found along with the traditional fountain.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>