
<div class="jumbotron hero5  container">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">Our Location, and Points of Interest Nearby</h2>
 
</div>

<div class="container">
        <div class="row">
            <div class="box">
            
                <div class="col-lg-12">
                    
                    <p>The Costa Blanca has over 100 km's of sandy beaches and rocky coves and many of the beaches have the coveted European Blue Flag signifying cleanliness and safe bathing.</p>

                    <p>The beautiful region has mountains stretching along most of the coast. The A7 motorway (with some toll sections) stretches from north to south along the coast. The N-332 also runs parallel yet is free from charges although much slower as it passes through the middle of many towns.</p>

                    <p>The Costa Blanca has the best all year round temperatures. The climate is recognised as one of the best in the world by the World Health Organisation. Many people with arthritis come to the Costa Blanca and within days feel much better. In the winter months the Costa Blanca is lucky enough to have nearly as many sunny days as in the summertime.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                        
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/almerimar-sunset-beach.jpg" alt="sunset" title="Torrevieja" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/torrevieja14_3.jpg" alt="sunset" title="Sunny Spain" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/apartmentbrisas_master14.jpg" alt="Master bedroom" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/second-bedroom.jpg" alt="double bedroom" title="Double bedroom" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/living-room.jpg" alt="living room" title="Living room" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/newpool.jpg" alt="swimmng pool" title="Swimming pool" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/la-marina-beach-chiringuito.jpg" alt="la marina beach2" title="La Marina beach" />
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/la_marina14.jpg" alt="la marina beach" title="La Marina beach"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/guardamar-beach.jpg" alt="guardamar" title="Guardamar"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/benijofar-church.jpg" alt="benijofar church" title="Benijofar church"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/alicante-prom.jpg" alt="alicante prom" title="Alicante prom"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/orihuela-waterfall_1.jpg" alt="Orihuela Waterfall" title="Orihuela Waterfall"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/flamingo-lake.jpg" alt="flamingo lake" title="Flamingo lake"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/mountainbike.jpg" alt="mountain bike" title="Mountain biking"/>
                            </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/lamarquesa.jpg" alt="La Marquesa Golf " title="La Marquesa Golf "/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/orihuela-square.jpg" alt="orihuela square" title="Orihuela Square"/>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/orihuela-plaza.jpg" alt="orihuela plaza" title="Orihuela Plaza"/>
                        </div>
                        
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#/gallery#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#/gallery#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h2 class="text-center">Valencia region</h2>
                    <p>In the middle of the Spanish Mediterranean coastline lies Valencia, a beautiful city backed by mountains and plains. The serene landscape provides the perfect backdrop for walking from which to admire the views. Trek through the mountains or simply just relax and enjoy the many great beaches or chill by the pool. The city itself is said to have some of the most beautiful architecture in Europe, from the historic to avant-garde. Valencia is also famed for its art galleries and fabulous local cuisine, such as mouth watering, juicy Valencia oranges and traditional Spanish paella, which originated from this very city. The Valencia region is an explosion of colour, flavour and culture, yet also a peaceful haven and our holiday offers all this and more.</p>

                    <p>Alicante, Valencia and Castellón form the three provinces of the Region of Valencia, a widely diverse landscape with more than 450 kilometres of coastline along the Mediterranean, bordered by Cataluña to the north and Murcia to the south. With a total area of some 20,0000 square kilometres, yet only 120 kilometres at its widest point, the area has both high mountains and plains, wetlands and beaches, a temperate climate yet with semiarid desert environments and lush forests in the interior. In the north the high rocky outcrops of ancient limestone in the mountainous El Maestrazgo region are fiercely cold in winter and have a benign summer climate. In total contrast the rolling hills of Xátiva in central Valencia province and its fertile agricultural lands have some of the hottest summer temperatures of the entire Region making it popular with sun worshippers.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <h2 class="text-center">Apartment Location</h2>

                    <p>Formentera del Segura is a small village close to Benijofar and Rojales in the Vega Baja (low fertile valley) region of the southern Costa Blanca, Spain, in the Alicante province. Formentera del Segura sits on the banks of the River Segura and the river has been very important in the survival of the village. Aproximately 30 minuites south from Alicanté airport.</p>
                </div>
                <div class="col-lg-8">
                    <h2>Select Point of Interest</h2>
                    <select ng-model="map" ng-options="mapview.address for mapview in maps"></select>

                    <h3>{{map.address}}</h3>
                    <make-map map="map"></make-map>

                </div>
                <div class="col-lg-4">
                    <p>Phone:
                        <strong>+44 7903 088101</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:david@apartmentbrisas.co.uk">david@apartmentbrisas.co.uk</a></strong>
                    </p>
                    <p>Address:
                        <strong>Apartment Brisas
                            <br>Cospa Blanca, Spain</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h2 class="text-center">Formentera del Segura area</h2>
                    <p>Formentera del Segura has its share of fiestas and celebrations, however there is one unique to Formentera - "The Day of the Bicycle", in which many of the villagers take part in a race to celebrate the past and present "brotherhood of the people of the village". The Day of the Bicycle takes place in May. In Formentera del Segura May is known as "The Month of Flowers" and there are many celebrations including a grand procession in honour of the Virgin of the Immaculate Conception. A major celebration takes place in August (the last week of the month), to pay tribute to the patron saints of the village San Miguel (Saint Michael) and San Roque, culminating in "The Day of the Sardine and Wine".</p>

                    <p>Formentera del Segura has a good selection of bars, restaurants and shops and a pleasant village square (plaza) where the Town Hall (Ayuntamiento) can be found along with the traditional fountain.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.carousel').carousel({
        interval: 2000 //changes the speed
        })
    </script>