<div class="jumbotron hero4  container">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">{{title}} 1</h2>
 
</div>

<div class="container">
    <div class="row">
        <div class="box">
            
            <div class="col-lg-6">
                <h3>Formentera del Segura</h3>
                <p>Has a good selection of bars, restaurants and shops and a pleasant village square (plaza) where the Town Hall (Ayuntamiento) can be found along with the traditional fountain.</p>
                <h3>Benijofar</h3>
                <p>A lovely small village with a charming church, village square, long high street and an abundance of tapas bars, cafes and restaurants as well as some interesting little shops. Tuesday morning is a great time to explore as the small market is held close to the church making a lively atmosphere. There is a small market on Tuesday mornings.</p>
                <h3>Rojales</h3>
                <p>A very Spanish with a range of shops including a chemist, a post office and an indoor market. On Thursdays there is an outdoor market.</p>
                <h3>Guardamar del Segura</h3>
                <p>Is the nearest coastal town. It has a blue flag sandy beach, lots of restaurants, a marina, a park, a castle, a tourist information office and a large outdoor market on Wednesdays.</p>

            </div>

            <div class="col-lg-6">
                <h3>Quesada</h3>

                <p>Has a range of restaurants including traditional Spanish, Chinese, Hungarian and Indian. There are supermarkets, banks, a petrol station and even a water park.</p>
                <h3>Torrevieja</h3>

                <p>A large seaside resort with beaches, a marina, restaurants, funfair and an evening market on the front. There is a large hypermarket on the outskirts, Carrefour.</p>
                <h3>Alicante</h3>

                <p>Famous for its wonderful boulevard with palm trees and shopping streets. The original name of the city "Lucentum" translates as "City of Light". This attractive town along the Costa Blanca has stunning beaches, old plazas, parks, adventure and great weather. The city provides fun, entertainment and also a great nightlife to the tourists who can hang around till the late hours.</p>
                <h3>Guest Book</h3>
                <p>In the apartment there is a guest book with many suggestions of where to go and what to do. Also there are a good selection of leaflets to give you a head start.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-9">
                <h3>Beach</h3>
                <p>There are many blue flagged beaches in the area and one of our favourites is La Marina beach with its natural sand dunes. Located on the Costa Blanca coast just 20 minutes drive south of Alicante Airport and approximately 10 minutes dive from the apartment. Market day in La Marina is Thursday and there is also a Sunday Market on the dedicated site at the same location on calle Justo Quesada. La Marina urbanisation is situated within the local council area of San Fulgencio.</p>
            </div>
            <div class="col-lg-3">
            <img src="img/lamarinabeach_square.jpg" alt="Beach" class="img-100" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
        <div class="col-lg-3">
            <img src="img/lafinca_square.jpg" alt="Golf" class="img-100" />
            </div>
            <div class="col-lg-9">
                <h3>Golf</h3>
                <p>La Finca Golf is near Algorfa, Alicante on the Costa Blanca. The course opened in August 2002 and has become a firm favourite with regular visitors to the area. It is a par 72, 18 hole course designed by Pepe Gancedo, the course offers wide fairways on most holes but it is quite long at 6,032 meters off the yellow tees.The lakes and streams make for some interesting shots into the greens an example of which is the par 5 5th hole where you need to be up close for your approach shot because the green is totally surrounded by water. The following par 3 6th hole is 160 metres off the yellow tee across water all the way. The greens range from a very narrow 3rd hole where the green is just 4 metres wide to an enormous square green on the 7th hole, they are usually cut medium to fast. This is a must play course if you are visiting the Costa Blanca</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-9">
                <h3>Cycling</h3>
                <p>This gets more popular every year and is a fabulous way of touring the countryside and getting fit at the same time. There are some great mountain and coastal routes. If you want to hire there is a shop in Guardamar del Segura Cycle shop which offers a delivery and collection service. The shop is located inside the Plaza Porticada Square in Guardamar. Bike hire is approximately 10 Euros per day.</p>
            </div>
            <div class="col-lg-3">
            <img src="img/cycling.jpg" alt="Cycling" class="img-100" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
        <div class="col-lg-3">
            <img src="img/horseriverfun.jpg" alt="Horse Riding" class="img-100" />
            </div>
            <div class="col-lg-9">
                <h3>Horse Riding</h3>
                <p>Dehesa de Campoamor is a riding school is a little tricky to find but it will be well worth the effort.  If you drive south along the N-332 past Cabo Roig and en route to Dehesa de Campoamor you will see this centre  on your right hand side and below road level.  Accompanied by an instructor, you can either ride out in the countryside or use the indoor school. </p>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="box">
            
            <div class="col-lg-9">
                <h3>Yoga</h3>
                <p>If you're simply looking to add some yoga to your holiday, rather than to go on a specific yoga retreat, we have a solarium on the top of the Apartment that is quiet, also there are some excellent quiet beaches near by</p>
            </div>
            <div class="col-lg-3">
            <img src="img/yoga_square.jpg" alt="Yoga" class="img-100" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
        <div class="col-lg-3">
            <img src="img/sightseeing.jpg" alt="sightseeing" class="img-100" />
            </div>
            <div class="col-lg-9">
                <h3>Sight Seeing</h3>
                <p>Calle Caballero is the perfect place to get acquainted with Valencia. Full of trendy cafes and shops, it attracts as many people-watchers as shoppers. To see a different and unique side of Valencia, visit the futuristic City of Arts and Sciences complex. It is the largest leisure and cultural complex in all of Europe, and consists of several amazing museums, starkly modern architecture and beautiful outdoor spaces.</p>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="box">
            
            <div class="col-lg-9">
                <h3>Water Parks</h3>
                <p>The Water Park of Alicante, Aquopolis Torrevieja is located in the center of Torrevieja, in Vega Baja region, at the South of the province of Alicante and is the largest and most important leisure park in Costa Calida and the Southern Alicante.<p>

                <p>The little ones can enjoy our playground, Mini Park full of interactive water activities. Adults can enjoy large gardens and areas of massage: Paradise and Jacuzzi where you can relax. Do not forget to take a romantic picture and fun under the waterfall!, so you can have an unforgettable memory of the water park of Alicante.</p>
            </div>
            <div class="col-lg-3">
                <img src="img/waterpark.jpg" alt="waterpark" class="img-100" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
        <div class="col-lg-3">
            <img src="img/riosafari.jpg" alt="riosafari" class="img-100" />
            </div>
            <div class="col-lg-9">
                <h3>Rio Safari</h3>
                <p>Río Safari Elche is located in the town of Elche in the province of Alicante. Rio Safari Park are specialists in rearing and caring for wild and exotic animals. Sea lions, antelopes, ostriches, bisons, boa constrictors, zebras, chameleons, cockatoos, chimpanzees, crows, llamas, jaguars, dromedaries, hippos and giraffes may be found here amongst almost a hundred species and nearly 800 animals.</p>

                <p>To enjoy their unique company a guided tour by train may be taken around the park. There are also various shows to enjoy including the sea lions, with the possibility of bathing in their company, the guacamayos and the Asian elephant.</p>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="box">
            
            <div class="col-lg-9">
                <h3>Walking</h3>
                <p>Just twenty-five kilometres from the Costa Blanca, the secret mountains of Alicante a beautiful location for walking and trekking. This is another world completely, where terraced slopes, dotted with delightful small villages, climb towards craggy limestone peaks that soar over a thousand metres into the sky. As you walk, you discover sweeping views and also reminders of the region's multi-layered history to which not only the Moors, but also the Iberians, Romans and even Mallorcans, have contributed.</p>
            </div>

            <div class="col-lg-3">
            <img src="img/walking.jpg" alt="walking" class="img-100" />
            </div>
        </div>
    </div>
</div>