<div class="jumbotron hero6  container">
    <h1 class="heroh1">Apartment Brisas</h1>
    <h2 class="heroh2">{{title}}</h2>
</div>
<div class="container">
        <div class="box row">
            <div class="col-lg-12"> 
                <p>Rent our privately owned Apartment Brisas from as little as £120 per week! Weekend rates apply to: Friday, Saturday and Sunday nights. NB: Prices may be subject to change at our discretion. The price is for the apartment not per person and doesn't include the €40-60 cleaning charge, depending on length of stay (left for the cleaner when you depart).</p>
            </div>
        </div>
    <div class="row box">
        <div class="col-lg-12"><a id="2people"></a>
            <h3>Prices for group size 2</h3>
            <div class="table-responsive">
                <div price-table-2></div>
            </div>
        </div>

        <div class="col-lg-12"><a id="4people"></a>
            <h3>Prices for group size 4</h3>
            <div class="table-responsive">
                <div price-table-4></div>
            </div>
        </div>

        <div class="col-lg-12"><a id="6people"></a>
            <h3>Prices for group size 6</h3>
            <div class="table-responsive">
                <div price-table-6></div>
            </div>
        </div>
    </div>
    <div class="row box">
        <div class="col-lg-12">
            <h2 class="text-center" id="facilities">Facilities</h2>
            <ul>
            <li>Luxuries:   DVD player and with a wide selection of movies</li>
            <li>Pools:  Shared outdoor pool (heated by sun), Childrens pool</li>
            <li>General:    TV, CD player, Safe, Satellite TV</li>
            <li>Standard:   Kettle, Toaster, Iron (2), Hairdryer</li>
            <li>Utilities:  Clothes dryer, Cooker, Microwave, Fridge, Freezer, Washing machine</li>
            <li>Rooms:  2 Bedrooms, 2 bathrooms of which 1 family bathroom and 1 en-suite, Solarium / Roof terrace</li>
            <li>Furniture:  Sofabeds (1), Single beds (2), Double beds (1), Dining seating for 4, Lounge seating for 4, Patio seating (2)</li>
            <li>Other:  High chair (1), Linen and towels provided</li>
            <li>Outdoors:   Solarium, Balconies</li>
            <li>Access:     Wheelchair friendly, Lift access to property, Parking space</li>
            </ul>
            <h2 class="text-center">Further details indoors</h2>
            <p>The Galley kitchen is fully fitted with a fridge-freezer and oven, all surrounded by granite work-tops, it also leads onto a small balcony with washing machine. Bed linen is provided and some towels, but it is advisable to bring your own beach towels.</p>
        </div>
    </div>
    <div class="row box" id="highlights">
        <div class="col-lg-12">
            <h2 class="text-center">Highlights</h2>
            <ul>
                <li>Modern apartment with three balconies</li>
                <li>Rooftop pool with 360º views of mountain and local surroundings</li>
                <li>Approx 7 minutes drive to the nearest local blue flag beach of Guardamar</li>
                <li>Friendly area, close to all facilities</li>
                <li>Supermarket in the same complex</li>
                <li>Playground close to complex</li>
                <li>Safe in the Apartment</li>
                <li>Ideal for Golfers with Golf courses close by</li>
                <li>Ideal for Families with plenty of activities close by</li>
                <li>Ideal for couples with beaches and restaurants close by</li>
                <li>Ideal for groups with beaches and clubs close by</li>
            </ul>
        </div>
    </div>
    <div class="row box" id="further">
        <div class="col-lg-12">
            <h2 class="text-center">Further Information</h2>
            <h3>Car Hire</h3>
            <p>One of the websites we recommend to use is <a href="http://www.skyscanner.net">www.skyscanner.net</a> but remember not always the cheapest is the best.</p>
            <p>We would tend to go for Avis or Budget Cars because you pay only for the fuel you use (full to full).</p>
            <p>Please remember on 8 June 2015, the paper counterpart to the photocard driving licence was abolished. The counterpart contained information such as any penalty points you have. Similarly, old-style paper licences, issued until 1998, are still valid but they won’t be updated with penalty points. Instead, you can now view all your up-to-date driving licence information using DVLA's <a href="https://www.gov.uk/view-driving-licence">View Driving Licence service</a>.</p>
            <h3>Welcome packs</h3>
            <p>These can be pr-ordered before your stay. Ideal for any late arrivals.</p>
            <ul>
            <li>€15 - Tea, Coffee, Sugar, Water, Orange Juice, Milk, Bread, Butter.</li>
            <li>€20 - Tea, Coffee, Sugar, Water, Orange Juice, Milk, Bread, Butter, Biscuits, Jam, Crisps, 1 Bottle White/red, 4 Cans of Lager.</li>
            </ul>
            <h3>On the day of departure</h3>
            <p>At the end of your stay our appointed cleaner will carry out laundry and house cleaning in readiness for the next guests.</p>
            <p>This service includes 1 set of bedding per bed, bath, hand and tea towels.</p>
            <ul>
                <li>On the day of departure, vacate the apartment by 10am.</li>
                <li>Please clean the oven if you have used it as this is not included in the clean</li>
                <li>Please leave the 40-60 Euros (depending of length of stay) on the table for the laundry and washing service</li>
                <li>Close all shutters</li>
                <li>Close all windows ensuring the latches engage</li>
                <li>Switch power off at the consumer unit and unplugging</li>
                <li>Lock doors and Windows</li>
                <li>Return the keys once back in Enlgand.</li>
            </ul>
            <h3>Keeping cool in summer</h3>
            <p>Spanish architects and builders are no strangers to the hot summer sun. The apartment is designed with cavity walls and lots of windows each with fully fitting roller shutters. Even at the hottest times the apartment will stay cool with natural ventilation through windows and doors and use of the ceiling fan. During the day the rooms will remain comfortably cool with the shutters down. It is at night, when the structure gives off heat that has built up during the day that you may feel the heat.</p>
            <h3>Keeping warm in winter</h3>
            <p>The Spanish Mediterranean coast is generally warm and sunny even in winter. However though the days are warm and sunny the night can get quite chilly. The apartment is equipped with two heaters that will quickly warm the rooms as required.</p>
        </div>
    </div>
</div>